body {
    background-color: lightblue;
    text-align: justify;
}

#content {
    width: 600px;
    border: 2px solid blue;
    margin: auto;
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 10px;
}

img {
    /* width: 600px; */
    max-width: 100%;
}
